.header{
    height: 120px;
    background-color: #000;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    line-height: 50px;
}

.header__navbar-item{
    padding: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar--item-strong{
    font-weight: 500;
}

.header__navbar-item--separate::after{
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid #ccc;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    padding: 0 4px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon-link:hover{
    opacity: 0.6;
}

/* header notifycation */

.header__notify{
    position: absolute;
    top: 118%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    height: 370px;
    cursor: default;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity,transform;
    display: none;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth{
    from{
        transform: 0;
        opacity: 0;
    }to{
        opacity: 1;
        transform: 1;
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400px;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #ccc;
    opacity: 0.5;
}

.header__notify-item-viewed{
    background-color: rgba(34, 34, 34, 0.2);

}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 14px;
    color: #000;
}

.header__notify-description{
    display: block;
    font-size: 14px;
    color: #756F6E;
    margin-top: -30px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: #333;
    padding: 0px 16px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* authen modal */

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-from__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__headding{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: red;
    font-weight: 400px;
    cursor: pointer;
}

.auth-form__form{
   
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policity-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link{
    text-decoration: none;
    color: blue;
}

.auth-form__controls{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-from__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    color: var(--white-color);
    background-color: #3a5a98;
    margin: 0 8px;
}

/* .auth-form__socials--facebook,
.auth-form__socials-icon{
} */

.auth-form__socials-title{
    margin: 0 36px;
}

.auth-form__socials--google{
    background-color: var(--white-color);
    color: #666;
    margin: 0 8px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    height: 22px;
    margin: 1px 16px 0;
    border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot{
    color: red;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    display: none;
}

/* click login */

.modal.open{
    display: flex;
}

/* header with search */

.header-with-search{
    display: flex;
    align-items: center;
    height: 47px;
}

.header__logo{
    padding: 0 150px;
}

.header__search{
    background-color: var(--white-color);
    flex: 1;
    height: 28px;
    width: 300px;
    border-radius: 2px;
    margin-bottom: 40px;
    display: flex;
}

.header__logo-description{
    padding: 0 120px 20px 0;
    text-align: center;
}

.header__logo-icon{
    color: var(--white-color);
    font-size: 46px;
}

.logo{
    font-weight: 20px;
    margin-right: 200px;
    color: var(--white-color);
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 0 16px;
    color: var(--text-color);
    border-radius: 2px;
}

.header__search-btn{
    background-color:#dad8d8;
    border: none;
    height: 28px;
    width: 40px;
    outline: none;
}

.header__search-btn:hover{
    cursor: pointer;
    opacity: 0.5;
}

.header__search-btn-icon{
    font-size: 1.6rem;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

/* search history */

.header__search-history{
    position: absolute;
    top: calc(100%+4px);
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 1px 5px #999;
    margin-top: 2px;
}

.header__search-history-headding{
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #888;
    font-weight: 400;
}

.header__search-history-list{
    padding-left: 0;
    list-style:none;
    margin-bottom: 0;
}

.header__search-history-item{
    height: 34px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header__search-history-item a{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    line-height: 34px;
}
